<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<caption>:::게시글 상세보기:::</caption>
		<tr>
			<th>제목</th>
			<td th:text="${vo.subject}"></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td th:text="${vo.name}"></td>
		</tr>
		<tr>
			<th>작성일</th>
			<td th:text="${vo.regdate}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td width="500px" height="200px" th:text="${vo.content}"></td>
		</tr>

		<tr>
			<td colspan="2">
				<a th:href="@{/events_board(page=${param.page})}">
					<button style="cursor: pointer;">목록</button>
				</a>
			</td>
		</tr>
	</table>
</body>
</html>