<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<link th:href="@{/css/events_board.css}" rel="stylesheet" />
</head>
<body>
    <table border="1" width="700" align="center">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        <th:block th:each="vo : ${list}">
            <tr>
                <td th:text="${vo.idx}"></td>
                <td>
                    <a th:if="${vo.delInfo ne -1}" th:href="@{/view(idx=${vo.idx}, page=${param.page})}">
                        <span th:text="${vo.subject}" style="color: black;"></span>
                    </a>
                    <span th:if="${vo.delInfo eq -1}" th:text="${vo.subject}" style="color: gray;"></span>
                </td>
                <td th:text="${vo.delInfo eq -1 ? 'unknown' : vo.name}"></td>
                <td th:text="${#strings.substring(vo.regdate,0,10)}"></td>
                <td th:text="${vo.readhit}"></td>
            </tr>
        </th:block>
        <!-- 페이지 메뉴 -->
        <tr>
            <td colspan="5" align="center">
                <div id="pageMenu" th:utext="${pageMenu}"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" align="right">
                <a th:href="@{/insert_form(page=${param.page})}">
                    <button style="cursor:pointer;">작성하기</button>
                </a>
                <a th:href="@{/main}">
                    <button style="cursor:pointer;">처음으로</button>
                </a>
            </td>
        </tr>
    </table>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/events_board.js"></script>
</html>