<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/insert_form.css}" rel="stylesheet" />
</head>
<body>
	<form name="f" th:action="@{/insert}" th:object="${vo}" method="POST">
		<input type="hidden" id="page" th:value="${param.page}">
		<table border="1">
			<tr>
				<th>제목</th>
				<td><input id="subject"  autocomplete="off"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input id="name"  autocomplete="off"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea id="content" rows="10" cols="50"  autocomplete="off"></textarea></td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input id="pwd" type="password" autocomplete="off"></td>
			</tr>
			<tr>
				<td colspan="2">
					<a th:href="@{/insert}"><button id="send_check" style="cursor:pointer;">등록하기</button>
					</a>
				</td>
			</tr>
		</table>
	</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/insert_form.js}"></script>
</html>