<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>예약하기</title>
<link th:href="@{/css/reservation_form.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>



</style>
</head>
<body>

<header>
	<a href="main" class="logo">
		<div class="logo">좋 은 캠 핑 장</div>
	</a>
	<nav class="menu">
		<a href="notices_board">공 지 사 항</a> <a href="reservation_form">예 약 하 기</a> <a href="#contact">문 의 하 기</a> <a href="events_board">이 벤 트</a>
	</nav>
</header>

<main>
	<div class="left-section">
		<div class="auth-section">
			<h2>회원 관리</h2>
			<th:block th:if="${session.id == null}">			<!-- 로그인이 되었는지 확인 -->
				<div class="login" name="login_form">로 그 인</div>
				<div class="signup">회원가입</div>
			</th:block>
			<th:block th:unless="${session.id == null}">		<!-- 로그인이 되었는지 확인 -->
				<div class="mypage_a" name="myPage">마 이 페 이 지</div>
				<div class="logout_a" name="logout">로 그 아 웃</div>
			</th:block>	
		</div>
		<div class="events">
			<h2>이벤트 게시판</h2>
			<div class="events-list">
				<li th:each="subject : ${subject}" th:text="*{subject}">Subject</li>
			</div>
		</div>
	</div>

	<div class="right-section">
		<div id="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red;"></div>
		<div class="reservation">
			<form name="reservation_insert" th:action="@{/reservation_insert(id=${id})}" th:object="${vo}" method="post">
			<input type="hidden" th:value="${id}">
			<input type="hidden" name="price" id="priceHidden">
				<div class="reservationContainer">
					<div class="dateInfo">
						<div class="date">
							<i class="fa-regular fa-calendar-days"></i><input type="text" th:field="*{date}" id="datepicker" name="date" placeholder="날짜">
						</div>
						<div class="person">
							<i class="fa-solid fa-person"></i><input type="number" min="1" max="10" th:field="*{num_people}" name="num_people" id="numberInput" placeholder="인원">
						</div>
						<p id="price" class="price"></p>
					</div>
					<div>
						<div class="test">
							<div class="t1" id="checkbox-container">
							</div>
						</div>
					</div>	
						<div class="buttonContainer">
						<input type="button" value="예 약 하 기" name="join" id="reserveButton" class="reserveButton"> 
						<input type="button" value="취 소" name="cancel" class="cancelButton">
					</div>
				</div>
			</form>
		</div>
	</div>
</main>

<footer>
	<div class="contact">
		<p>
			문의사항이 있으면 전화해 주세요: <a href="tel:+123456789">+123456789</a>
		</p>
	</div>
	<div class="weather">
		<p>
			현재 날씨: <span id="weather-info">정보 로딩 중...</span>
		</p>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" th:src="@{/js/reservation_form.js}"></script>
</body>
</html>
